aiofiles @ file:///home/conda/feedstock_root/build_artifacts/aiofiles_1677173365185/work
aiohttp @ file:///home/conda/feedstock_root/build_artifacts/aiohttp_1689804987990/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1667935791922/work
altair @ file:///home/conda/feedstock_root/build_artifacts/altair_1693422388579/work
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1693488585952/work
asttokens==2.4.0
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1691763562544/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1683424013410/work
backcall==0.2.0
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1693583441880/work
certifi==2023.7.22
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1688813409104/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1692311806742/work
cmake==3.25.0
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
contourpy @ file:///home/conda/feedstock_root/build_artifacts/contourpy_1695554207611/work
coverage==6.5.0
coveralls==3.3.1
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
decorator==5.1.1
docopt==0.6.2
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1692026125334/work
executing==1.2.0
fastapi @ file:///home/conda/feedstock_root/build_artifacts/fastapi_1688565502871/work
ffmpy @ file:///home/conda/feedstock_root/build_artifacts/ffmpy_1659474992694/work
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1694629184119/work
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1692542607195/work
frozenlist @ file:///home/conda/feedstock_root/build_artifacts/frozenlist_1695377774422/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1695417469930/work
future==0.18.3
gradio @ file:///home/conda/feedstock_root/build_artifacts/gradio_1679384519199/work
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1664132893548/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1634280454336/work
hpack==4.0.0
httpcore @ file:///home/conda/feedstock_root/build_artifacts/httpcore_1694194101801/work
httpx @ file:///home/conda/feedstock_root/build_artifacts/httpx_1694433442850/work
huggingface-hub @ file:///home/conda/feedstock_root/build_artifacts/huggingface_hub_1695149935022/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1619110129307/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1688754491823/work
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1695414790617/work
iniconfig==2.0.0
ipython==8.15.0
jedi==0.19.0
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1654302431367/work
joblib==1.3.2
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-meta_1695228989494/work
jsonschema-specifications @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-specifications_1689701150890/work
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1695379920604/work
kornia==0.4.1
linkify-it-py @ file:///home/conda/feedstock_root/build_artifacts/linkify-it-py_1651923627081/work
lit==15.0.7
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1677100944732/work
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1695367421802/work
matplotlib @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-suite_1695328804059/work
matplotlib-inline==0.1.6
mdit-py-plugins @ file:///home/conda/feedstock_root/build_artifacts/mdit-py-plugins_1670348296204/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1639515908913/work
mpmath==1.3.0
multidict @ file:///home/conda/feedstock_root/build_artifacts/multidict_1672339405744/work
munkres==1.1.4
networkx==3.0
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1694920014183/work/dist/numpy-1.26.0-cp311-cp311-linux_x86_64.whl#sha256=7b731396a94ca030092abedab0dd12ee8e5d9900f4ad9116c7427a88837ab787
orjson @ file:///home/conda/feedstock_root/build_artifacts/orjson_1694140916045/work/target/wheels/orjson-3.9.6-cp311-cp311-linux_x86_64.whl#sha256=f7648d59551a025974d3f1a881140709703bd728f705abe4262f11f134de44cd
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1681337016113/work
pandas @ file:///home/conda/feedstock_root/build_artifacts/pandas_1695249197146/work
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1695247221050/work
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1694617248815/work
pluggy==1.3.0
prompt-toolkit==3.0.39
ptyprocess==0.7.0
pure-eval==0.2.2
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1690476222394/work
pydub @ file:///home/conda/feedstock_root/build_artifacts/pydub_1615612442567/work
Pygments==2.16.1
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1690737849915/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
pytest==7.4.2
pytest-mock==3.11.1
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-multipart @ file:///home/conda/feedstock_root/build_artifacts/python-multipart_1679167423335/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1693930252784/work
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1695373611984/work
referencing @ file:///home/conda/feedstock_root/build_artifacts/referencing_1691337268233/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
rpds-py @ file:///home/conda/feedstock_root/build_artifacts/rpds-py_1694630936738/work
scikit-learn==1.3.1
scipy==1.11.2
semantic-version @ file:///home/conda/feedstock_root/build_artifacts/semantic_version_1653579368137/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1662051266223/work
stack-data==0.6.2
starlette @ file:///home/conda/feedstock_root/build_artifacts/starlette-recipe_1684245096404/work
sympy==1.12
threadpoolctl==3.2.0
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1657485559105/work
torch==2.0.1+cu117
torch-lucent==0.1.8
torchaudio==2.0.2+cu117
torchvision==0.15.2+cu117
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1691671248568/work
traitlets==5.10.0
triton==2.0.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1695040754690/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1680081134351/work
uc-micro-py @ file:///home/conda/feedstock_root/build_artifacts/uc-micro-py_1608058642472/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1695228328709/work
uvicorn @ file:///home/conda/feedstock_root/build_artifacts/uvicorn-split_1695566096509/work
wcwidth==0.2.6
websockets @ file:///home/conda/feedstock_root/build_artifacts/websockets_1695409932281/work
yarl @ file:///home/conda/feedstock_root/build_artifacts/yarl_1685191769397/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1695255097490/work
